<div class="layui-side layui-bg-black" th:fragment="left" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed"><a class=""  href="javascript:;">文件处理</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="config">文件上传配置</a>
                </dd>
                <dd>
                    <a href="upload">文件上传</a>
                </dd>
                <dd>
                    <a href="javascript:;">列表二</a>
                </dd>
                <dd>
                    <a href="javascript:;">列表三</a>
                </dd>
                <dd>
                    <a href="">超链接</a>
                </dd>
            </dl></li>
        <li class="layui-nav-item"><a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;">列表一</a>
                </dd>
                <dd>
                    <a href="javascript:;">列表二</a>
                </dd>
                <dd>
                    <a href="">超链接</a>
                </dd>
            </dl></li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
    </ul>
</div>
</div>