<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>layout 后台大布局 - Layui</title>
    <link th:href="@{/css/layui.css}" rel="stylesheet" />
    <script th:src="@{/layui.js}" type="text/javascript"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" >
<span th:replace="head::head"></span>
<div th:replace="left::left"></div>
    <div class="layui-body">
        <blockquote class="layui-elem-quote layui-text">
            提示：以下示例的部分上传接口由第三方网站 <em>http://httpbin.org</em> 提供，它可以模拟各类 HTTP 请求。
            <br>其他示例未配置上传接口，所以每次上传都会报「请求上传接口出现异常」的提示，这属于正常现象。
        </blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>文件上传演示</legend>
        </fieldset>
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
                <button type="button" class="layui-btn" id="test9">开始上传</button>
            </div>
    </div>
<div th:replace="footer::foot"></div>
</div>
</body>
<script th:src="@{/layui.js}" type="text/javascript"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['upload', 'element', 'layer'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element
            ,ueee = "123"
            ,layer = layui.layer;
        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            ,url: '/upload' //此处配置你自己的上传接口即可
            ,auto: false
            ,ueee = '123'
            //,multiple: true
            ,bindAction: '#test9'
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });
    });
</script>

</html>